
Flask
Flask-SQLAlchemy
Flask-Login
werkzeug
yt-dlp
opencv-python
mediapipe
numpy
Pillow
torch==2.1.2
transformers
pyannote.audio
ultralytics
openai
waitress
gunicorn
faster-whisper
SQLAlchemy
git+https://github.com/jianfch/stable-ts.git
