Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
yt-dlp
opencv-python
mediapipe
numpy
Pillow
torch==2.3.1+cpu -f https://download.pytorch.org/whl/torch_stable.html

transformers
pyannote.audio
ultralytics
openai
waitress
faster-whisper
SQLAlchemy
gunicorn==21.2.0
